.containercard {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.itemcard:hover {
  opacity: 0.7;
}
.itemcard {
  list-style: none;
  text-align: center;
}

.itemimage {
  background-color: #ebebeb;
  max-width: 350px;
  max-height: 300px;
  overflow: hidden;
}

.hrr {
  width: 395px;
  color: #EBEBEB;
}
