body {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  color: black;
  font-size: 1.5rem;
}

code {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: black;
}


